h4 {
    font-weight:bold;
}

h2 {
    font-weight:bold;
}

.discrete {
    color:#a0a0a0;
}

.footer {
    padding-top: 22px;
    text-align:center;
}

.container h4 {
    padding-top: 10px;
}

.publications p {
    padding-bottom: 10px;
}

.header {
    padding-bottom: 10px;
}
